/* Add hover effects for interactivity */
.hover-effect {
  transition: transform 0.3s ease-in-out;
}

.hover-effect:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  
}

.skill-category h3 {
  font-size: 1.75rem;
  font-weight: bold;
  color: #343a40;
}
#skill-container{
    max-height: 30rem;
    overflow-y: scroll;
}
.btn-dw {
  width: 100% !important; 
}

@media (min-width: 992px) { 
  .btn-dw {
    width: 30% !important; 
  }
}

@media (min-width: 1200px) { 
  .btn-dw {
    width: 20% !important; 
  }
}
